## Webscraping

### Import the libraries

In [41]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Use request library

In [2]:
url = 'https://www.uefa.com/uefachampionsleague/standings/'

In [3]:
page = requests.get(url) #download page

In [6]:
print (page)
print(page.status_code) #number 200 means succesfull, any other number for ex. 84 is failed.

<Response [200]>
200

In [20]:
#print(page.text) #html format

### Use BeautifulSoup library

In [10]:
soup = BeautifulSoup(page.text, 'html.parser')

In [21]:
#print(soup.prettify) #display previous html format in a different more readable way (tree format)

In [22]:
#print(soup.find('a')) #find the first 'a' tag

In [23]:
#print(soup.find_all('a')) #find all the 'a' tags

In [24]:
#soup.find_all('a')[1] # find second 'a' tag

In [25]:
league = soup.find('div', class_ = 'd3-plugin standings standings--full')
#print(league)

In [28]:
league_standings = league.find_all('tbody')
#print(league_standings)

In [39]:
for league_teams in league_standings:
    rows = league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td', class_ = 'table_team-name').text.strip()
        team_points = row.find('td', class_ = 'table_team-points').text.strip() #stel dat class '=' => []
        print(team_names, team_points)

BAY

                    FC Bayern München
                    Playing now 13
ATL

                    Club Atlético de Madrid
                    Playing now 6
SBG

                    FC Salzburg
                    Playing now 4
LMO

                    FC Lokomotiv Moskva
                    Playing now 3
MON

                    VfL Borussia Mönchengladbach
                    Playing now 8
SHK

                    FC Shakhtar Donetsk
                    Playing now 7
RM

                    Real Madrid CF
                    Playing now 7
INT

                    FC Internazionale Milano
                    Playing now 5
MC

                    Manchester City FC
                    Playing now 13
POR

                    FC Porto
                    Playing now 10
OLY

                    Olympiacos FC
                    Playing now 3
OM

                    Olympique de Marseille
                    Playing now 3
LIV

                    Liverpool FC
                    Playing now 12
ATA

                    Atalanta BC
                    Playing now 8
AJX

                    AFC Ajax
                    Playing now 7
MID

                    FC Midtjylland
                    Playing now 1
CHE

                    Chelsea FC
                    Playing now 13
SEV

                    Sevilla FC
                    Playing now 10
KRA

                    FC Krasnodar
                    Playing now 4
REN

                    Stade Rennais FC
                    Playing now 1
BVB

                    Borussia Dortmund
                    Playing now 10
LAZ

                    SS Lazio
                    Playing now 9
BRU

                    Club Brugge
                    Playing now 7
ZEN

                    FC Zenit
                    Playing now 1
BAR

                    FC Barcelona
                    Playing now 15
JUV

                    Juventus
                    Playing now 12
DK

                    FC Dynamo Kyiv
                    Playing now 1
FER

                    Ferencvárosi TC
                    Playing now 1
MU

                    Manchester United FC
                    Playing now 9
PAR

                    Paris Saint-Germain
                    Playing now 9
LEI

                    RB Leipzig
                    Playing now 9
BFK

                    İstanbul Başakşehir
                    Playing now 3

### Make a dataframe

In [49]:
cl_2020 = []
for league_teams in league_standings:
    rows = league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td', class_ = 'table_team-name').text.strip()
        team_points = row.find('td', class_ = 'table_team-points').text.strip()
        league_dict = {'team': team_names,
                      'points': team_points
                      }
        cl_2020.append(league_dict)

In [50]:
df = pd.DataFrame(cl_2020)
df.head(5)

                                                team points
0  BAY\n\r\n                    FC Bayern München...     13
1  ATL\n\r\n                    Club Atlético de ...      6
2  SBG\n\r\n                    FC Salzburg\r\n  ...      4
3  LMO\n\r\n                    FC Lokomotiv Mosk...      3
4  MON\n\r\n                    VfL Borussia Mönc...      8